*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, skyblue, pink);
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 800px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(7, 80px);
}

.container > button {
    cursor: pointer;
    font-size: 1.8rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(212, 212, 212, .75);
}

.container > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}

.display .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.3rem;
}

.display .current-operand {
    color: white;
    font-size: 2.2rem;
}